body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    padding-top: 110px;
}

.undo-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 3px solid #333;
    border-radius: 100%;
    cursor: pointer;
    background-color: #ff6f61;
    color: white;
}

.undo-button img {
    width: 50px;
    height: 50px;
}

#noteArea {
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    resize: none;
}

.save-button-container {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 100; 
}

#saveButton {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#saveButton:hover {
    background-color: #45a049; 
}